p {
  font-size: 20px;
}
.xlarge {
  font-size: 50px;
}
.large {
  font-size: 40px;
}
a {
  color: #0074D9;
}
a.tag {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.tag-container:hover {
  background-color: #F012BE;
}
.results,.tags {
  margin-top: 150px;
}
.product {
  overflow: hidden;
}
div.product:hover {
  border: solid 1px #F012BE;
  overflow: visible;
}
.prod-tags {
  height: 75px;
}
/* product width */
.product {
  width: 25%;
  height: 225px;
}
@media (max-width: 1250px) {
  .product {
    width: 37%;
  }
}
@media (max-width: 850px) {
  .product {
    width: 75%;
  }
}
