p {
  font-size: 20px;
}
.xlarge {
  font-size: 40px;
}
.large {
  font-size: 30px;
}
a {
  color: #0074D9;
}
a.tag {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.tag-container:hover {
  background-color: #F012BE;
  color: #FFFFFF;
  border: solid 1px #F012BE;
}
.results,.tags {
  margin-top: 70px;
}
.tags {
  overflow: scroll;
  width: 200px;
  margin-right: 220px;
}
.product {
  overflow: hidden;
}
div.product:hover {
  border: solid 1px #F012BE;
  overflow: visible;
}
.prod-tags {
  height: 75px;
}
/* product width */
.product {
  width: 25%;
  height: 225px;
}
@media (max-width: 1250px) {
  .product {
    width: 37%;
  }
}
@media (max-width: 850px) {
  .product {
    width: 75%;
  }
}
/* submit tags */
.tag-input-div {
  background-color: #FFFFFF;
  webkit-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
  border-radius: 3px;
}
.tag-input {
  border: none;
}
input.tag-input:focus {
  border: none;
}

